body {
  background: linear-gradient(270deg, rgb(207, 244, 170), rgb(151, 151, 254));
}

.header {
  text-align: center;
}

.container {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* ini membuat urut ke bawah */
}

.box-1 {
  background: #fff;
  padding: 20px 30px;
  border-radius: 15px;
  width: 900px;
  box-shadow: 5px 4px 10px;
  margin: 20px auto;
}

.alert {
  width: 900px;
  background: #b1ddfb;
  justify-content: space-between;
  padding: 7px;
  height: 30px;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
}

/* Tombol X */
.alert button {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* untuk mengubah korsor agar menjadi telunjuk */
  cursor: pointer;
  font-size: 16px;
  color: crimson;
  transition: background 0.3s;
}

.alert button:hover {
  background: #f8d7da;
}

.profile-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px;
  padding: 30px;
  text-align: center;
  width: 100px;
  margin: 2px;
  height: 250px;
  position: relative;
}

.avatar {
  position: relative;
  display: inline-block;
}
.profile {
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 50%; /* biar benar-benar bulat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.badge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  background: rgb(4, 255, 4);
  border: 1px solid white;
  border-radius: 50%;
}

.profile-card h3 {
  margin-top: 15px;
  color: #131313;
  font-size: 15px;
}

.profile-card p {
  margin-top: 15px;
  color: #666;
  font-size: 15px;
}
